html,body{
        height: 100%;
      }
body {
  width: 100%;
  height: 100%;
  background-image: 
      linear-gradient(to right, rgb(132, 208, 191), rgb(153, 132, 208));
  background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  background-position: bottom right,
      left,
      right;
}

body.dark {
  width: 100%;
  height: 100%;
  background-image: 
      linear-gradient(to right, rgb(250, 250, 250), rgb(0, 0, 0));
  background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  background-position: bottom right,
      left,
      right;
}


#backbutton{
	margin-left: 20px;
    display:inline-block;
	
}
