<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Access Denied</title>
</head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
<link th:href="@{/css/globaltheme.css}" rel="stylesheet" />

<body id="multi-color-bg">
	<div id="loggedUser" style="text-transform:uppercase;">
			<h1>
		     Hi <b>[[${#request.userPrincipal.principal.username}]],</b> 
		   	</h1> 
	</div>
	<h2> You do not have access to this method! Please return back</h2>
	
	<form action="#" th:action="@{/}" style="text-align:left;" >
			<button id="backbutton" type="submit" class="btn btn-info add-new"> Return Back to Voting Page</button>
	</form>
	 <!-- switch to change theme -->
	        <div class="switchButton">
			<label class="switch">
            <i class="fas fa-adjust"></i>
            <div>
              <input id="switch" type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
		</div>
<script type="text/javascript" src="/js/globaltheme.js"> </script>
</body>

</html>