<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link th:href="@{/css/displayresultschart.css}" rel="stylesheet" />


</head>
<body class="multi-color-bg">
	<div class="container" id="multi-color-bg">
		<h2 align="center">Voters Result</h2>

		<div id="container"
			style="width: 550px; height: 400px; margin: 0 auto">
			</div>
			<br> 
			 <div class="backButton"> 
				<form action="#" th:action="@{/}" >
				
				<button id="backbutton" type="submit" class="btn btn-info col-2"> Back</button>
				</form>
			
			</div>
			 <!-- switch to change theme -->
	        <div class="switchButton">
			<label class="switch">
            <i class="fas fa-adjust"></i>
            <div>
              <input id="switch" type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
		</div>
		
	</div>
		
		
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	
	<script th:inline="javascript">
	 $(function(){
		    Highcharts.chart('container', {
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Organization'
		        },
		        subtitle: {
		            text: 'Details'
		        },
		        xAxis: {
		            categories: [[${candidName}]],
		            crosshair: true
		        },
		        yAxis: {
		            min: 0,
		            max:30,
		            title: {
		                text: 'Number of Votes'
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
		            footerFormat: '</table>',
		            shared: true,
		            useHTML: true
		        },
		        plotOptions: {
		            column: {
		                pointPadding: 0.2,
		                borderWidth: 0
		            }
		        },
		        series: [{
		            name: 'Candidate Name',
		            data: [[${candidVotes}]]
		        }]
		      });
		    });
   
</script>



</body>
<script type="text/javascript" src="/js/globaltheme.js"> </script>
		
</html>