
<!-- 
<div th:replace="shared/header"></div>


 -->
<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>

<div class="container">
    <form th:action="@{/login}" method="POST">
        <h1 class="text-center">Please Log in</h1>
        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name="username" id="">

        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" id="pw">

        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Log in</button>
            <span class="btn btn-primary" id="showpw">Show passowrd</span>
        </div>

    </form>

</div>
<!-- 
<div th:replace="shared/footer"></div>

 -->


</body>


</html>