<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>New Party</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link th:href="@{/css/newparty.css}" rel="stylesheet" />
</head>


<body id="multi-color-bg">
	<div class="container">
		<h1>Enter New Party</h1>

		<form action="#" th:action="@{/saveparty}" th:object="${nParty}"
			method="POST">
			
			
			<input type="text" th:field="*{Name}" class="form-control mb-4 col-4">
				<button type="submit" class="btn btn-info col-2"> Save Party</button>
		</form>
		
		<hr>
		<form action="#" th:action="@{/}">
          	<button type="submit" class="btn btn-default">Back</button>
        </form>
	</div>
</body>
</html>
