<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	>
<head>
<meta charset="UTF-8">
<title>Show all parties</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<!-- link for the style of the table and buttons 

https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-add-and-delete-row-feature

<button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New Party</button>

	---------------------
	vote here 
	<a th:href="@{/vote/{id}(id=${party.id})}"
	        			class="edit vote" title="vote" data-toggle="tooltip">Vote Here</a>

	<input id="voted" type="submit" value="Vote Here" />
	
	 <button id="voted" th:onclick="checkIfClicked()" >Vote Here</button>
 -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script type="text/javascript" src="partiesview.js"> </script>
</head>


<div sec:authorize="isAuthenticated()" class="text-center">
    <h1>
    
    <!-- 
    removed to test different approach 
    
    Welcome <b><span  sec:authentication="name"></span>
    &nbsp;
    <span sec:authentication="principal.authorities"></span>
    
     User: <span sec:authentication="name"></span>
	Role(s): <span sec:authentication="principal.authorities"></span>
	
	   
     
     -->
    Welcome <b>[[${#request.userPrincipal.principal.username}]]</b> 
 
    
    <b><span  sec:authentication="name"></span></b>
    &nbsp;
    <span sec:authentication="principal.authorities"></span>
    </h1>
   
	

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
        </form>
</div>
<!-- 
still working on the disable vote and send message when user voted 

 -->
<body>
	<div class="col-sm-8"><h2><b>Voting Page</b></h2></div>
		<div sec:authorize="hasAuthority('admin')" class="col-sm-4">
	    
	     <a sec:authorize="hasAuthority('admin')" href="/newparty" class="btn btn-info add-new">Add New Party</a>
    </div>
	
	<table border="1" cellpadding="10" class="table table-bordered table-striped" >
		<thead>
			<tr>
				<th>Party Symbols</th>
				<th>Party Name</th>
				<th th:if="user.isVoted">Vote Here</th>
				<th id="action" th:if="!user.isVoted" >Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each=" party : ${parties}">
				<td th:text="${party.id}">Party Symbols</td>
				<td th:text="${user.toString()}">Party Name</td>
				<td th:if="!user.isVoted">
					
	        		<form th:action="@{/vote/{id}(id=${user.id})}" method="get">
		   					 
		   					 <button id="voted" > Vote Here</button>
								
		   					 
					</form>
				</td>
				<td class="actionButtons">
					
        			<a  sec:authorize="hasAuthority('admin')"
        			
        			th:href="@{/edit/{id}(id=${party.id})}"
        			
        			class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        			 &nbsp;&nbsp;&nbsp;
        			 <a sec:authorize="hasAuthority('admin')"
        			 
        			 th:href="@{/delete/{id}(id=${party.id})}"
                    
                    class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    
				</td>
				<!-- 
				add to each a tage
				th:href="@{/edit/{id}(id=${part.id})}"
				
				<a th:href="@{/delete/{id}(id=${party.id})}"
                    
                    class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
				
				..................................
				 <a class="btn btn-default" >Edit</a>
                     &nbsp;&nbsp;&nbsp;
        			<a class="btn btn-default">Delete</a>
				
				 -->
				
			</tr>
		</tbody>
		
	</table >
	
</body>
</html>