<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	>
<head>
<meta charset="UTF-8">
<title>Show all parties</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
<link th:href="@{/css/globaltheme.css}" rel="stylesheet" />

<script type="text/javascript" src="partiesview.js"> </script>
</head>

 <!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div id="logout" class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
						
				</button>
				<a id="log" class="navbar-brand" href="#" th:href="@{/logout}"> Logout</a>
			</div>
			
			<div id="page" class="col-sm-8"><h2><b>VOTING PAGE</b></h2></div>

		</div>
		
	</nav>
	<!-- end of nav bar --------------------------------------------------- -->
	<br><br><br><br><br><br><br>
	
	<div id="loggedUser" style="text-transform:uppercase;">
		<h1>
	     WELCOME <b>[[${#request.userPrincipal.principal.username}]]</b> 
	   	</h1>
	   	<h3> You are a <b>[[${#request.userPrincipal.principal.getAuthorities}]]</b></h3>
	
	</div>
	<label class="switch">
            <i class="fas fa-adjust"></i>
           	 <div>
              <input id="switch" type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
			
	
<body class="multi-color-bg">
	
		<div id="addNew" sec:authorize="hasAuthority('admin')" class="col-sm-4" th:block th:switch="${role.name}">
	    
	     <a sec:authorize="hasAuthority('admin')" href="/newparty" class="btn btn-info add-new" >Add New Party</a>
	     <a id="result" class="btn btn-info add-new" href="#" th:href="@{/votingresults}"> Go To Result</a>
    </div>
    
    <br><br>
	
	<table id="multi-color-bg" class="table table-bordered table-striped" >
		<thead>
			<tr>
				<th>Party ID</th>
				<th>Party Name</th>
				<th th:if="${#request.userPrincipal.principal.isVoted == false}">Vote Here</th>
				<th id="action" >Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each=" party : ${parties}">
				<td th:text="${party.id}">Party ID</td>
				<td th:text="${party.name}">Party Name</td>
				<td th:if="${#request.userPrincipal.principal.isVoted == false}">
					
					<!-- 
						<form th:action="@{/vote/{uid}(uid=${#request.userPrincipal.principal.id}-${party.id})}" method="get">
						<form th:action="@{/vote/{uid}(uid=12345)}" method="get">
					 -->
	        		
	        		<form th:action="@{/vote/{uid}(uid=${#request.userPrincipal.principal.id}, pid=${party.id})}" method="post">
		   					 
		   					 <button id="voted" > Vote Here</button>
								
		   					 
					</form>
				</td>
				<td class="actionButtons">
					
        			<a  sec:authorize="hasAuthority('admin')"
        			
        			th:href="@{/edit/{id}(id=${party.id})}"
        			
        			class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        			 &nbsp;&nbsp;&nbsp;
        			 <a sec:authorize="hasAuthority('admin')"
        			 
        			 th:href="@{/delete/{id}(id=${party.id})}"
                    
                    class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    
				</td>
				
			</tr>
		</tbody>
		
	</table >
	<script type="text/javascript" src="/js/globaltheme.js"> </script>
</body>


</html>